html, body {
    margin: 0px;
    padding: 0px;
    font-family: Lato,appleLogo,sans-serif;
    text-align: justify;
    background-color: white;
}

#topBar {
    margin-top: 0px;
    height: 45px;
    background-color: #e8e7e2;
}

#leftHeader {

}

#leftHeader h2 {
    font-size: 16px;
    margin-top: -20px;
}

#leftContainer {
    float: left;
    background-color: white;
    width: 800px;
    min-height: 100vh;
    padding: 5px 30px 30px 30px;
}

#leftContent {
    
}
#navContainer {
    float: left; 
    height: auto;
    padding: 25px 30px 30px 30px;
}

#navContent {
    align-content: center;
    text-align: center;
}

#navigationList {
    padding: 10px;
    border: 1px solid gray;  
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-align: left;
}

#navigationList ul {
    list-style-type: none;
    margin-left: -35px;
    
}



#navigationList li {
    padding: 7px;
    margin: 0px;
}

#navigationList a {
    color: #34495e;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    
}


pre {
    font-family: consolas;
    font-size: 13px;
    padding: 10px;
    background-color: #DFDFDF;
    color: #404040;
    width: 780px;
    
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    
}

pre.schema {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    
    background-color: whitesmoke;
    color: #2B3046;
    min-width: 50%;
    max-width: 70%;
    
    border-left: 3px solid #c8d0d1;
    border-radius: 0px;
}


img.logoImg {
    height: 50px;   
}

img.introImg {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

code.codeExample {
    background-color:#282838;
    color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
    font-size: 15px;
}

code.codeResponse {
    background-color:#33495e;
    color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
    font-size: 15px;
}


code.accent {
    background-color:#D8E88F;
    color: darkblue;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

h2 {
    text-transform: uppercase;
    margin-bottom: 0px;
    color: #141B23;
    
}

h3 {
    color: #4B5B81;
    margin-top:0px;
    text-transform: capitalize;
}

h5 {
    color: #9d9d9d;
    font-size: 18px;
    margin: 0px;
    padding-left: 30px;
    padding-top: 15px;
    text-align: center;
    vertical-align: middle;
    font-weight: 100;
}